<!doctype html>
<html>
<head>
	<title>University Database</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/{{this}}"></script>
    {{/each}}
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <ul id='nav-bar'>
        <li><a href="/">Return to Index</a></li>
        <li><a href='/classes'>Classes</a></li>
        <li><a href='/professors'>Professors</a></li>
        <li><a href='/buildings'>Buildings</a></li>
        <li><a href='/students'>Students</a></li>
    </ul>
	{{{body}}}
</body>
</html>
