<!doctype html>
<html>
<head>
	<title>University Database</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/{{this}}"></script>
    {{/each}}
</head>
<body>
    <a href="/">Return to Index</a>
	{{{body}}}
</body>
</html>