<h1>Building Page</h1>
<h3>All Buildings</h3>
<table>
    <thead>
        <th>
            Building Name
        </th>
        <th>
            Number of Rooms
        </th>
    </thead>
    <tbody>
        {{#each buildings}}
        <tr>
            <td>
                {{Name}}
            </td>
            <td>
                {{Rooms}}
            </td>
	    <td>
	    	<button onclick="deleteBuildings({{Name}})">Delete</button>
		</td>
	</tr>
        {{/each}}
    </tbody>
</table>
<h3>New Building</h3>
<form name='add_building' action='/buildings/add' method='POST'>
	Building Name: <input type='text' name='building_creation_name' value=''><br>
	Number of Rooms: <input type='number' name='building_creation_rooms' value=''><br>
	<input type='submit' value='Submit'>
</form>
